<br />
<h5><i class="fab fa-twitter brand"></i>Twitter</h5>
<a class="twitter-timeline" data-height="850" data-dnt="true" data-theme="light" data-link-color="#337ab7" data-chrome="noheader" href="https://twitter.com/a13x_mg"></a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>