<h4><i class="fa fa-twitter brand"></i>Twitter</h4>
<a class="twitter-timeline" data-height="600" data-dnt="true" data-theme="light" data-link-color="#337ab7" data-chrome="noheader" href="https://twitter.com/ameyergleaves"></a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>